//== Bulk actions buttons

.bulkActionButtons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0.5em 0em;
  font-size: 0.9em;
  > * {
    margin-right: 0.3em;
  }
  .checkbox,
  label {
    display: inline-block;
  }
  .checkbox {
    padding-left: 0px;
    input[type="checkbox"] {
      float: none;
    }
  }
  label {
    display: flex;
    align-items: center;
    input {
      margin-right: 0.2em
    }
  }
  .btn-group {
    .btn {
      border: 1px solid $gray-lighter;
      background: $gray-ultralight;
      color: $text-color;
      padding: 0.4em 0.9em;
      font-size: 0.9em;
    }
  }
}
@include media-breakpoint-down(sm) {
  .bulkActionButtons .btn-group .btn {
    padding: 0.4em;
  }
}
