#side-collapse-first_indexed > a {
  display: block;
  width: fit-content;
}
#first_indexedFilter {
  margin-top: 0.7em;
  margin-bottom: 1.4em;
  .form-group {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
    .finna-dateinput {
      flex: 0;
      label > .dateformat-hint {
        font-size: 0.7rem;
      }
    }
    button[type=submit] {
      height: $input-height-base;
      padding: $padding-base-vertical $padding-base-horizontal;
      margin-left: 0.7em;
    }
  }
}
@include media-breakpoint-only(sm) {
  #first_indexedFilter {
    .form-group {
      flex-direction: column;
      align-items: flex-start;
      button[type=submit] {
        margin-top: 0.3em;
        margin-left: 0px;
      }
    }
  }
}

//Organisaatio filtterin oma hakukenttä
.building-filter {
    padding: 0.4em 0.5em;
    input {
      width: 12em;
    }
}
@include media-breakpoint-down(sm) {
  .building-filter {
    padding-left: 1.7em;
  }
}

.search-filters {
  position: relative;
  background: $filterContent-background;
  border-top: 1px solid $filterContent-border-color;
  border-bottom: 1px solid $filterContent-border-color;
}

.finna-filters,
.results .noresults {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.4em 0em;
  color: $filterContent-text-color;
  .filter-options {
    display: flex;
    .filters-toggle {
      display: flex;
      align-items: center;
      gap: 0.4em;
      height: 3.5em;
      padding: 0px;
      font-weight: 700;
      color: $filterContent-text-color;
      text-transform: uppercase;
      .icon.collapse {
        display: none;
      }
      &.open {
        .icon.expand {
          display: none;
        }
        .icon.collapse {
          display: initial;
        }
      }
    }
  }
  .filters {
    display: inline-flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .filters-term {
    margin-left: 0.4em;
  }

  .filter-title-group {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
  }
  .filter-value {
    display: inline-flex;
    align-items: center;
    padding: 0.35em 0.8em;
    margin: 0.4em 0em 0.4em 0.4em;
    font-weight: 600;
    color: $filters-text-color;
    white-space: nowrap;
    background: $filters-background-color;
    border-radius: $border-radius-small;
    .text {
      flex-grow: 1;
      margin: 0em 0.5em 0em 0em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.dropdown-item {
      width: initial;
    }
  }
  .title-value-pair {
    margin-left: 0.7em;
  }
}
@include media-breakpoint-down(md) {
  .finna-filters,
  .results .noresults {
    .filter-options {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .filters-toggle {
        font-size: 80%;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .finna-filters,
  .results .noresults {
    .filter-options {
      align-items: flex-start;
      padding-right: 0.7em;
    }
  }
}

.finna-filters {
  .title-value-pair {
    display: inline-block;
  }
  .filters a.filter-value {
    &:hover,
    &:focus {
      text-decoration: line-through;
      background-color: $state-danger-text;
    }
  }
}

.results .noresults {
  flex-direction: column;
  padding: 0.7em;
  p {
    flex: 1;
  }
  .filter-value a {
    margin: 0.3em;
    color: $filters-icon-color;
  }
}

@include media-breakpoint-down(md) {
  .filters {
    width: 100%;
    font-size: 80%;
    // Reset specific font sizes
    .btn,
    .dropdown-menu {
      font-size: 100%;
    }
  }
  .filter-value {
    max-width: 95%;
  }
}

.search-filter-dropdown {
  display: inline-block;
  margin-left: 0.4em;
  .btn {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: $filters-text-color;
    vertical-align: baseline;
    background: $filters-background-color;
  }
  .dropdown-menu {
    > li {
      border: 0;
    }
    .filters-term {
      display: block;
      margin-left: 0px;
      text-align: center;
    }
    .filter-value {
      display: flex;
      margin-right: 0.4em;
      .text {
        flex-grow: 1;
      }
    }
  }
}

// Active filters on record page
.template-name-view .filters-container .finna-filters {
  .filter-value {
    color: $text-color;
    background: $gray-ultralight;
  }
}
