@include media-breakpoint-down(sm) {
  .mobile-toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 501;
    width: 100%;
    height: 44px;
    background: $sidebar-background;
    border-top: 1px solid $body-bg;
    img.qrcode {
      max-width: initial;
      margin-left: -36px;
      border: 2px solid $gray;
    }
    .nav-pills.mobile-actions,
    .nav-pills.mobile-sharing,
    .nav-pills.library-link {
      float: left;
      > li {
        padding: 0px;
        padding-top: 0px;
        margin: 0px;
        height: 44px;
        > a {
          padding: 10px;
          margin-top: 0px;
          border-radius: 0;
          color: $sidebar-header-text-color;
        }
      }
      .share-buttons,
      li.whatsapp,
      li.mail-record {
        display: flex;
        align-items: center;
        justify-content: center;
        .share-buttons-toolbox {
          flex-flow: column wrap;
        }
      }
    }
    .nav-pills.mobile-sharing .whatsapp a,
    .share-buttons-toolbox a,
    .nav-pills.mobile-sharing .mail-record a {
      display: inline-flex;
      justify-content: center;
      padding: 8px;
      margin: 0px;
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
    .dropdown-toggle {
      color: $btn-primary-color;
      background: $btn-primary-bg;
      border-radius: 0;
      align-items: initial;
      display: initial;
    }
    .dropdown-menu {
      position: absolute;
      z-index: 1000;
      float: none;
      min-width: initial;
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 13px;
      background-color: $sidebar-background;
      border: none;
      border-radius: 0;
      bottom: 44px;
      box-shadow: 10px 2px 20px -10px;
      > li {
        border: none;
        > a {
          color: $body-bg;
          padding: 6px 10px 2px 4px;
          line-height: 2em;
          width: 100%;
          display: inline-flex;
        }
      }
      .export-list > a {
        padding: 5px 10px;
        color: $sidebar-header-text-color;
      }
    }
    .nav-pills.library-link {
      float: right;
      font-size: 1.2em;
      line-height: 1.2em;
    }
    li.btn-bookbag-toggle a {
      position: relative;
      .blinker {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
      }
      .cart-remove-mobile-icon {
        font-size: 10px;
        position: absolute;
        top: 5px;
      }
    }
  }
}

// Mobile navigation toggle button
@include media-breakpoint-down(md) {
  .mobile-nav-toggle {
    position: sticky;
    top: $navbar-height;
    z-index: $zindex-mobile-navbar;
    padding-top: 0.9em;
    padding-right: calc(#{$grid-gutter-width} / 2);
    padding-bottom: 0.9em;
    padding-left: calc(#{$grid-gutter-width} / 2);
    margin-right: calc((#{$grid-gutter-width} / 2) * -1);
    margin-left: calc((#{$grid-gutter-width} / 2) * -1);
    background: $body-bg;
    &.sticky {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .btn-mobile-nav {
      width: 100%;
    }
  }
}

// Mobile navigation menu
@mixin mobile-nav {
  position: fixed;
  right: 0px;
  z-index: $zindex-sidebar;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-bottom: 2.5em;
  padding-left: 0px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $body-bg;
  &.open {
    top: 0px;
    opacity: 100%;
  }
}

// Mobile menu - sidebar
@include media-breakpoint-down(sm) {
  section.template-name-results .sidebar,
  section.template-name-search .sidebar,
  section.template-name-blended .sidebar,
  section.template-dir-record.template-name-view .sidebar.search-facets,
  section.template-dir-collection.template-name-view .sidebar.search-facets {
    @include mobile-nav();
    overflow-x: hidden;
    opacity: 0;
    .list-group.facet {
      margin: 0em 0.7em 0.4em 0.7em;
      &:last-child {
        margin-bottom: 2.5em;
      }
    }
  }
}

// Mobile menu - MyResearch
@include media-breakpoint-down(md) {
  .hidden-print.nav-tabs-personal.list-group {
    @include mobile-nav();
    top: 120%;
    transition: top 0.5s ease;
    &.open {
      display: block;
      right: 0px;
    }
  }
}
