/* Public favorites list styles. */
.template-dir-list,
.public-list-embed {
    .public-list-desc {
        word-wrap: break-word;
    }
    .public-list-desc,
    .notes {
        ul,
        ol {
            margin-left: 25px;
        }
        ul li {
            list-style-type: disc;
        }
        ol li {
            list-style-type: decimal;
        }
    }
    h1.public-list-header {
        margin: 10px 0px;
    }
    .public-list-info {
        color: $gray-light;
    }
    .public-list-view {
        margin-top: 20px;
    }
    .notes {
        display: inline-block;
        margin-top: 0.7em;
        .heading {
            font-weight: 700;
        }
        .note-rows {
            p {
                margin-top: 0.2em;
            }
            span {
                margin-left: 0.4em;
            }
        }
    }
    .note-button {
        z-index: 6;
        display: flex;
        align-items: center;
        align-self: flex-end;
        padding: 0.2em;
        font-size: 1em;
        color: $gray;
        background-color: $gray-ultralight;
        border: 1px solid $gray;
        border-radius: $border-radius-base;
        > .icon {
            margin-right: 0.3em;
            margin-left: 0.3em;
        }
        &.note-show {
            > .caret {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
            }
        }
        &.condensed {
            background: none;
            border: none;
        }
    }
    .note-overlay-list {
        .notes {
            .note-rows p {
                margin-top: 10px;
            }
        }
    }
    .note-overlay-condensed,
    .note-overlay-grid {
        &.note-hide {
            display: none;
        }
        &.note-show {
            display: block;
        }
    }
    .condensed-notes {
        width: 100%;
    }
    .note-overlay-condensed {
        width: 100%;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        color: $gray;
        text-align: left;
        &.note-show {
            border-bottom: 1px solid $gray-lighter;
        }
        p {
            display: block;
            padding: 0em 0.7em;
        }
    }
    .note-overlay-grid {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 4;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        color: $gray;
        background-color: $gray-ultralight;
        p {
            display: block;
            padding: 0em 0.7em;
        }
    }
}

.public-list-embed {
  .show-more {
    text-align: center;
    > div {
      margin-bottom: 0.7em;
    }
  }
  .savedLists.loaded {
    display: none;
  }
  .controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.7em
  }
}
